.App {
  display: flex;
  flex-wrap: wrap;
}

.Welcome,
.Question,
.Results {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.Welcome {
  background: #172a46;
}

/* .one {
  background: #d89c00;
}

.two {
  background: #0a302f;
}

.five {
  background: #525869;
}

.four {
  background: #443943;
}

.three {
  background: #d2d2d2;
}

.six {
  background: #630b1c;
} */

.Results {
  background: #d8b23b;
}
